/* src/UserDashboard.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
    padding: 20px;
  }

  .info{
    display:block;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  form {
    background: #fff;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  